@import url("https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Londrina+Solid:wght@300;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Londrina+Solid:wght@300&display=swap");

@media (prefers-color-scheme: dark) {
  * {
    color: white;
  }
}

* {
  color: black;
}

/* general items */

h1,
h2,
h3,
h4 {
  font-family: "Londrina Solid", cursive;
}

#mood {
  font-weight: 900;
  font-family: "Londrina Solid", cursive;
}
#top-bar {
  margin-top: 0;
  width: 100%;
  background-color: aquamarine;

  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
#sos {
  border: solid 1px red;
  padding: 2px 5px;
}
#gratitude {
  width: 20rem;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

#gratitude > span {
  display: inline-block;
  word-wrap: break-word;
}

.learn-more-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #23ae89;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

.learn-more-button:hover {
  background-color: #a9b4b1;
  color: white;
}

.border {
  border: solid 1px rgb(0, 157, 39);
  border-radius: 5px;
  margin: 0.3rem;
  padding: 1rem;
}

.flex {
  display: flex;

  flex-wrap: wrap;
}

#browse-box {
  background: #81b698;
  border: 2px solid #15ad1f;
  border-radius: 27.584px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
#log-box {
  background: #74cee2;
  border: 2px solid #58315a;
  border-radius: 27.584px;
}

/*normal phones*/

@media screen and (max-width: 767px) {
  .box {
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
  }
  .hp-field,
  .breath-field {
    flex-basis: 100%;
  }

  .form-container > h1 {
    word-wrap: break-word;
  }
}

/*large phones*/
@media (min-width: 576px) {
  .box {
    width: 90%;
    margin: 0 auto;
  }

  .hp-field,
  .breath-field {
    flex: 1 1 100%;
  }
  .form-container > h1 {
    word-wrap: break-word;
  }
}

/*  desktop  */
@media screen and (min-width: 1200px) {
  body {
    font-size: 14px;
  }
  .box {
    width: 20rem;
    padding: 1rem;
    box-sizing: border-box;
    margin: 0.2rem;
  }

  .main-div {
    max-width: 100%;
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10rem;
    height: 85vh;
    top: 0;
    position: relative;
  }
}

/* breathing exercise element */

.side {
  position: absolute;
  background-color: blue;
  opacity: 0;
  animation: breathing 4s linear infinite;
}

.side1 {
  height: 2px;
  width: 200px;
  animation-delay: 0s;
}

.side2 {
  height: 200px;
  width: 2px;
  animation-delay: 1s;
}

.side3 {
  height: 2px;
  width: 200px;
  top: 198px;
  animation-delay: 2s;
}

.side4 {
  height: 200px;
  width: 2px;
  left: 198px;
  animation-delay: 3s;
}

@keyframes breathing {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.breath-field {
  position: relative;
  width: 15rem;
  height: 10rem;
  text-align: center;
  flex: 1 1 50%;
  background-color: yellowgreen;
  border: solid 2px yellow;
  /* margin: 2rem; */
  /* overflow: hidden; */
}

.hp-field {
  width: 10rem;
  height: auto;
  margin: 1rem;

  flex: 1 1 30%;

  min-width: 0;
}

.breath-field p {
  font-family: "Londrina Outline", cursive;
  color: white;
  font-size: 3em;
  margin-top: 15% auto;
}

.circle {
  width: 20px;
  height: 20px;
  background-color: rgb(255, 0, 0);
  border-radius: 50%;
  position: absolute;
  animation: moveInSquare 16s linear infinite;
}

@keyframes moveInSquare {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 0;
    left: calc(100% - 20px);
  }
  50% {
    top: calc(100% - 20px);
    left: calc(100% - 20px);
  }
  75% {
    top: calc(100% - 20px);
    left: 0;
  }
  100% {
    top: 0;
    left: 0;
  }
}

/* navigation pane in the bottom of each page */

nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f2f2f2;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  padding: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

nav ul li a:hover {
  color: #23ae89;
}

/* form styling */
.form-container {
  max-width: 30rem;
  width: 90%;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 5px;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.form-container label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-container input[type="date"],
.form-container input[type="number"],
.form-container textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.form-container textarea {
  height: 100px;
}

.form-container .checkbox-group {
  margin-bottom: 1rem;
}

.form-container .checkbox-group label {
  display: block;
}

.form-container .checkbox-group input[type="checkbox"] {
  margin-right: 0.5rem;
}

.form-container .submit-button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background-color: #23ae89;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-container .submit-button:hover {
  background-color: #a9b4b1;
}
